.home-container {
  position: relative;
  height: 100vh;
}

.hero-banner {
  height: 100%;
  background-image: url('/hero1.png'); /* Ensure your image is in the public folder */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: white;
  font-size: 3rem;
  font-family: serif;
}